<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <col width="300">
    <col width="300">

    <tr>
      <th>Address</th>
      <th>Trip date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.address, trip %></td>
        <td><%= trip.trip_date %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
