<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Forum</h1>
  <hr>

    <tbody>
      <% @posts.each do |post| %>
      <tr>

        <td><%= link_to post.title, post %></td>
        <td><%= link_to post.created_at.strftime("%d %b. %Y"), post %></td>

      </tr>
      <hr>
      <% end %>


  <br>
  <% if current_user %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>
</div>
