<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Forum</h1>
  <% if current_user %>
  <%= link_to 'New Post', new_post_path %>
  <% end %>
  <br>
  <hr>



      <% @posts.each do |post| %>
      <table style="width:75%">
        <col width="500">
        <col width="300">
        <tr>
          <td><%= link_to post.title, post %></td>
          <td><%= link_to post.created_at.strftime("%b. %d  %Y"), post %></td>
        </tr>
      </table>
      <br>
      <% end %>

  <br>
</div>
