/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.title {
  margin-top: 2em
}

.jumbotron {
  font-family: 'Bungee Shade', cursive;

  padding-top: 1em;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  height: 8em;
  color: white;
  width: 60%;
  margin-left: 20%;
  border-radius: 8px;
}

body {
    background-image: url(salmon-river.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%, 100%;
    background-attachment: fixed;

}

.container {
  background-color: white;
  margin-bottom: 2em;
}

.map {
  align-items: right;
}

.post {
  width: 90%;
}

.btn {
  border-color: black;
}
